.cm-s-stylix.CodeMirror {
  background-color: #212121;
  color: #EEFFFF;
  height: auto;
  padding: 0 10px;
  font: 14px / 24px Source Code Pro, monospace;
}

.cm-s-stylix .CodeMirror-lines {
  padding: 10px 0;
}

.cm-s-stylix .CodeMirror-gutters {
  background: #212121;
  color: #545454;
  border: none;
}

.cm-s-stylix .CodeMirror-guttermarker,
.cm-s-stylix .CodeMirror-guttermarker-subtle,
.cm-s-stylix .CodeMirror-linenumber {
  color: #545454;
}

.cm-s-stylix .CodeMirror-cursor {
  border-left: 1px solid #FFCC00;
}

.cm-s-stylix div.CodeMirror-selected {
  background: rgba(97, 97, 97, 0.2);
}

.cm-s-stylix.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(97, 97, 97, 0.2);
}

.cm-s-stylix .CodeMirror-line::selection,
.cm-s-stylix .CodeMirror-line>span::selection,
.cm-s-stylix .CodeMirror-line>span>span::selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-stylix .CodeMirror-line::-moz-selection,
.cm-s-stylix .CodeMirror-line>span::-moz-selection,
.cm-s-stylix .CodeMirror-line>span>span::-moz-selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-stylix .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.5);
}


.cm-s-stylix .cm-keyword {
  color: #C792EA;
}

.cm-s-stylix .cm-operator {
  color: #CCC;
}

.cm-s-stylix .cm-builtin,
.cm-s-stylix .cm-meta,
.cm-s-stylix .cm-qualifier,
.cm-s-stylix .cm-type {
  color: #FFCB6B;
}

.cm-s-stylix .cm-string,
.cm-s-stylix .cm-string-2,
.cm-s-stylix .cm-number {
  color: #89E386;
}

.cm-s-stylix .cm-atom {
  color: #EE9D7D;
}

.cm-s-stylix .cm-comment {
  color: #888;
}

.cm-s-stylix .cm-def,
.cm-s-stylix .cm-variable,
.cm-s-stylix .cm-variable-2,
.cm-s-stylix .cm-variable-3 {
  color: #FF6B95;
}

.cm-s-stylix .cm-property {
  color: #FFB5CA;
}

.cm-s-stylix .cm-tag {
  color: #71def0;
}

.cm-s-stylix .cm-bracket {
  color: #CCC;
}

.cm-s-stylix .cm-attribute {
  color: #c2f3fb;
}


.cm-s-stylix .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: #FF5370;
}

.cm-s-stylix .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
